@import url("./utils/dropDown.css");
@import url("./utils/contactForm.css");
@import url("./utils/carrousel.css");

main, .top-banner { 
    max-width: 1440px;
    margin: 0 auto;
}

.reduce-opacity {
    opacity: 0.5;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.photograph-header .infos {
    display: flex;
    flex-direction: column;
    order: 1;
    margin: 0;
}

.photograph-header h1 {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 1.17em;
}

.photograph-header .location {
    color: #901C1C;
    font-size: 24px;
    margin-bottom: 20px;
}

.photograph-header .tagline {
    color: #525252;
    font-size: 18px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    order: 3;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    margin-right: 10px;
    margin-left: 10px;
}

.contact_button:hover {
    background: #DB8876;
    color: black;
}

.contact_button:focus {
    background: #DB8876;
    color: black;
}

.photographer-details {
    width: 376px;
    height: 59px;
    border-radius: 5px 5px 0 0;
    background: #DB8876;
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing:border-box;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 600;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 50px 100px;
    width: calc(100% - 200px);
}

.media-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 350px;
}

.title-likes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-weight: 600;
}

.title-likes-container h3 {
    margin: 0;
}

.title-likes-container p {
    margin: 0;
    display: flex;
    align-items: center;
}

.icon-like {
    margin-left: 5px;
}

.media-container .icon-like {
    cursor: pointer;
}

.media-item img,
.media-item video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}