main, header { 
    max-width: 1440px;
    margin: 0 auto;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.photograph-header .infos {
    display: flex;
    flex-direction: column;
    order: 1;
}

.photograph-header h1 {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin: 0;
}

.photograph-header .location {
    color: #901C1C;
    font-size: 24px;
    margin-bottom: 20px;
}

.photograph-header .tagline {
    color: #525252;
    font-size: 18px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    order: 3;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    margin-right: 10px;
    margin-left: 10px;
}

select {
    background-color: #901C1C;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    width: 170px;
    height: 69px;
    margin-top: 20px;
    margin-left: 100px;
}

/* Style pour le bouton du menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    font-family: DM Sans;
}

.dropbtn {
    background-color: #901C1C;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    font-size: 18px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
    cursor: pointer;
    border-radius: 5px;
    width: 170px; /* Largeur du bouton */
    height: 69px; /* Hauteur du bouton */
}

/* Style pour le contenu du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    min-width: 170px; /* Correspond à la largeur du bouton */
    z-index: 1;
    border-radius: 5px;
    font-family: DM Sans; /* Assurez-vous que la police est cohérente */
    font-size: 18px; /* Taille de la police pour le menu */
}

/* Style pour les liens du menu déroulant */
.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
}

/* Style pour les séparateurs */
.dropdown-content .separator {
    margin: 0;
    border-top: 1px solid #C0C0C0;
    color: #C0C0C0;
    text-align: center;
}

.dropbtn .fa-chevron-down {
    margin-left: auto; /* Pousse l'icône vers la droite */
}

.dropbtn .fa-chevron-up {
    margin-left: auto; /* Pousse l'icône vers la droite */
}

.dropbtn .hidden {
    display: none;
}

/* Afficher le menu déroulant lorsque la classe 'show' est ajoutée */
.show {
    display: block;
}

.dropdown .fa-chevron-down,
.dropdown .fa-chevron-up {
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #B74242; /* Couleur de survol pour les liens */
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 50px 100px;
    width: calc(100% - 200px);
}

.media-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 350px;
}

.title-likes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.title-likes-container h3 {
    margin: 0;
}

.title-likes-container p {
    margin: 0;
    display: flex;
    align-items: center;
}

.icon-like {
    margin-left: 5px;
    cursor: pointer;
}

.media-item img,
.media-item video {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}